/* from the beautiful drifty.com ... temporarily until we make our own */



/* TODO: Switch the names of these files over to ProximaNova_Bold */
 @font-face {
  font-family: 'ProximaNova-Bold';src: url('https://jetstrap-site.s3.amazonaws.com/webfonts/23BAC1_2_0.eot');src: url('https://jetstrap-site.s3.amazonaws.com/webfonts/23BAC1_2_0.eot?#iefix') format('embedded-opentype'),url('https://jetstrap-site.s3.amazonaws.com/webfonts/23BAC1_2_0.woff') format('woff'),url('https://jetstrap-site.s3.amazonaws.com/webfonts/23BAC1_2_0.ttf') format('truetype');}

 @font-face {font-family: 'ProximaNova-Light';src: url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Light.eot');src: url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Light.eot?#iefix') format('embedded-opentype'),url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Light.woff') format('woff'),url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Light.ttf') format('truetype');}

 @font-face {font-family: 'ProximaNova-Regular';src: url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Regular.eot');src: url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Regular.eot?#iefix') format('embedded-opentype'),url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Regular.woff') format('woff'),url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Regular.ttf') format('truetype');}

 @font-face {font-family: 'ProximaNova-Thin';src: url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Thin.eot');src: url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Thin.eot?#iefix') format('embedded-opentype'),url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Thin.woff') format('woff'),url('https://jetstrap-site.s3.amazonaws.com/webfonts/ProximaNova_Thin.ttf') format('truetype');}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'ProximaNova-Light', Helvetica Neue, Arial, sans-serif;
  background-color: #f1f0f0;
}

a {
  color: #c65d6a;
  text-decoration: none;
}

.left { float: left; }
.right { float: right; }


#logo {
  background: url('images/logo.png') no-repeat transparent;
  width: 100px;
  height: 43px;
  /*width: 100px; height: 43px;*/
  display: inline-block;
  margin-bottom: 10%;
}

h1 {
  color: #333;
  font-size: 46px;
  font-family: 'ProximaNova-Thin', Helvetica Neue, Arial, sans-serif;
}
h3 {
  margin-top: -20px;
  font-size: 20px;
  font-family: 'ProximaNova-Light', Helvetica Neue, Arial, sans-serif;
  color: #999;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
}

#wrapper {
  padding: 40px 20px 80px 20px;
  text-align: center;
}

#goals {
  margin-top: 60px;
}
#goals > a {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 10px;
}
#goals > a > div {
  width: 200px;
  height: 54px;
}


#sponsors {
  margin-top: 60px;
}
#sponsors > a {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 10px;
}
#sponsors > a > div {
  width: 200px;
  height: 54px;
}


#footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 20px;
  color: #999;
  font-size: 16px;
}

#footer.flow {
  position: static;
}

#footer .container {
  max-width: 1000px;
  margin: auto;
}

#footer .left a {
  text-decoration: underline;
}

#twitter-logo {
  background: url('pieces/twitter.png') no-repeat transparent;
  width: 18px;
  height: 18px;
}


#footer .right {
  min-width: 90px;
}
#footer .right > a {
  display: inline-block;
  margin-right: 15px;
  opacity: 0.7;
  transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
#footer .right > a:hover {
  opacity: 1;
}
#footer .right > a > div {
  display: inline-block;
}



/* ---------- @media only screen ratio 1.5-2 ---------- */

@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5),
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
  
#logo {
    background: url('pieces/drifty-logo@2x.png') no-repeat transparent;
    background-size: 100px 43px;
  }

#sponsors > a > * {
    background-size: 200px 54px;
  }

#boeing-logo {
  background: url('images/corp_logos/boeing-logo.jpg') no-repeat transparent;
}

#ncwit-logo {
  background: url('images/corp_logos/ncwit.png') no-repeat transparent;
}

#mccormick-logo {
  background: url('images/corp_logos/McC_Purple.png') no-repeat transparent;
}
  /*
  #codiqa-logo {
    background: url('pieces/codiqa_drifty@2x.png') no-repeat transparent;
  }
  #twitter-logo {
    background: url('pieces/twitter@2x.png') no-repeat transparent;
    background-size: 18px 18px;
  }
 */
}

/* ---------- @media only screen width 320-600 ---------- */

@media only screen 
and (min-width : 320px) 
and (max-width : 600px) {
  h1 {
    font-size: 30px;
  }
  #wrapper {
    padding-bottom: 40px;
  }
  #sponsors {
    margin-top: 15px;
  }
  #footer {
    position: static;
  }
}


